.sbttn {font-family:tahoma,sans-serif;font-size:11px;background:
#D6E7EF;border-bottom: 1px solid #104A7B;border-right: 1px solid
#104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid
#AFC4D5;color:#000066;height:19px;text-decoration:none;cursor: hand;}

body    {font-family:tahoma,sans-serif;
font-size:11px;color:#000000;margin-top:2px;margin-left:0px;margin-right:10px;margin-bottom:2px;background-color:#ffffff;}

